body{

}
.title{
  font-family: 'Varela Round', sans-serif;
}
.name{
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: center;
}
.volcano{
  width: 11%;
  height: 11%;
  margin-right: 2%;
}
.fname, .lname{
  font-size: 7vw;
  letter-spacing: 2vw;
}
.subtitle{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}
.fullStack{
  font-size: 5vw;
  letter-spacing: 2vw;
}
.links{
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: space-around;
}
.contact{
  width: 5vw;
  margin-bottom: 40%;
}
.project{
  border: 1px solid black;
}
.projectPic{
  width: 80%;
}

@media screen and (max-width: 600px) {
  .fname, .lname{
    font-size: 8vw;
  }
  .fullStack{
    font-size: 5vw;
  }
  .contact {
      width: 5vh;
  }
}


/*font-family: 'Montserrat', sans-serif;
font-family: 'Varela Round', sans-serif;*/
