body{

}
.title{
  font-family: 'Varela Round', sans-serif;
}
.name{
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: center;
}
.volcano{
  width: 11%;
  height: 11%;
  margin-right: 2%;
}
.fname, .lname{
  font-size: 7vw;
  letter-spacing: 2vw;
}
.subtitle{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}
.fullStack{
  font-size: 5vw;
  letter-spacing: 2vw;
}
.links{
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: space-around;
}
.contact{
  width: 5vw;
  margin-bottom: 40%;
}
/*.project{
  margin: 5px;
}*/
.projectPic{
  width: 100%;
}
.about{
  margin-left: 1%;
  margin-right: 4%;
}

.project-label, .aboutMe{
  text-align: center;
  margin-bottom: 5%;
}

.buttons{
  display: flex;
  width: 70%;
  margin-left: 15%;
  justify-content: space-around;
  margin-bottom: 6%;
  visibility: hidden;
}
.description{
  position: absolute;
  top: 0;
  left: 15px;
  right: 15px;
  bottom: 80px;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  border-radius: 1%;
  text-align: center;
}
.speakOverlay{
  background-color: rgba(108,182,185,0.70);
}
.strengthOverlay{
  background-color: rgba(126,86,79,0.80);
}
.project-dets:hover .description{
  visibility: visible;
  opacity: 1;
}
.project-script{
  font-size: 1.8vh;
}
.project-title{
  font-size: 2.3vh;
  margin-top: 5%;
}
.myPic{
  width: 60%;
  border-radius: 50%;
  margin-left: 20%;
  margin-bottom: 8%;
}
.projLinkCont{
  display: flex;
  justify-content: space-around;
  width: 35%;
  position: absolute;
  left: 34%;
}
.project-links{
  width: 100%;
}



@media screen and (max-width: 950px) {
  .fname, .lname{
    font-size: 8vw;
  }
  .fullStack{
    font-size: 5vw;
  }
  .contact {
      width: 5vh;
  }

}


/*font-family: 'Montserrat', sans-serif;
font-family: 'Varela Round', sans-serif;*/
